@font-face {
  font-family: AFKlampenborg;
  src: url(../fonts/afklampenborg-medium-webfont.eot);
  src: url(../fonts/afklampenborg-medium-webfont.ttf);
  src: url(../fonts/afklampenborg-medium-webfont.woff);
  src: url(../fonts/afklampenborg-medium-webfont.woff2);
}
@font-face {
  font-family: Helios;
  src: url(../fonts/HeliosExtThin-webfont.eot);
  src: url(../fonts/HeliosExtThin-webfont.ttf);
  src: url(../fonts/HeliosExtThin-webfont.woff);
  src: url(../fonts/HeliosExtThin-webfont.woff2);
}